<html lang="zh-CN">
<head>
  <title>Register</title>
  <meta charset="UTF-8" />
</head>

<body>
  <h2>注册账号：</h2>
  <form action="" method="post">
    <table>
      <tr>
        <td align="right">账号：</td><td><input type="text" name="account" />
      </tr>
      <tr>
        <td align="right">密码：</td><td><input type="text" name="pass1" />
      </tr>
      <tr>
        <td align="right">确认密码：</td><td><input type="text" name="pass2" />
      </tr>
      <tr>
        <td><input type="submit" value="注册" /></td>
        <td><input type="reset" value="重置" /></td>
        <td><a href="/login">登录</a></td>
      </tr>
    </table>
  </form>
</body>

</html>






